<<<<<<< HEAD
:root {
  --yellow: #fae100;
  --horizontal-space: 25px;
  --main-border: 1px solid rgba(0, 0, 0, 0.2);
}
=======
:root {
  --yellow: #fae100;
  --horizontal-space: 25px;
  --main-border: 1px solid rgba(0, 0, 0, 0.2);
}
>>>>>>> 93c37a8b14373f9c7c933fcf8f54e4d7ff3160b3
